.features-area {
    margin-bottom: 100px;
    margin-top: 100px;
}

.featuresbox .col-3 {
  padding: 20px;
}

.featuresbox .col-3 h4 {
  font-size: 21px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}
.featuresbox .col-3 p {
  font-size: 13px;
  font-weight: 400;
  color: gray;
}
