.videoarea {
  background-image: url("../../public/videoarea.jpg");
  background-size: cover;
  height: 470px;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}

.play-btn img {
  width: 80px;
  margin-top: 133px;
  margin-bottom: 40px;
}
